* {
    margin: auto;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

body {
    background-color: lightslategray;
}

header {
    margin: 2px;
    font-family: "Lobster", serif;
    font-size: 30px;
    color: burlywood;
}

h3 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h4 {
    display: block;
    position: absolute;
    bottom: 45px;
    right: 30px;
}

.score-text {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: ivory;
}

table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    box-shadow: 0 0 10px #ccc;
}

#cells {
    height: 50px;
    width: 50px;
    background-color: floralwhite;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition-duration: 0.1s;
}

#cells:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .85);
}