.sidenav {
    margin: 0px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #C0C0C0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav span, .sidenav div {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.gen:hover {
    color: #f1f1f1;
}

.easy-btn:hover {
    color: lightgreen;
}

.medium-btn:hover {
    color: yellow;
}

.hard-btn:hover {
    color: red;
}

.sicko-btn:hover {
    color: purple;
}

.scores-div {
    position: absolute;
    top: 500px;
    left: 40px;
}

.scores-div span {
    display: inline-table;
    padding: 0px;
}

.clear-highscores-btn {
    position: absolute;
    top: 850px;
    left: 40px;
    margin-left: 25px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav-open {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 30px;
    cursor: pointer;
    color: floralwhite;
}